<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Listener Example">
    <!-- These parameters will be passed to every test in this suite -->
    <listeners>
        <listener class-name="listeners.TestListener" />
    </listeners>
    <test name="Google Search Results Tests" preserve-order="true">
        <classes>
            <class name="GoogleSearchTest"/>
        </classes>
    </test>
</suite>